<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app}">

<div layout:fragment="content">
  <div class="card-body pb-0">
    <h5 class="card-title">Kevin Anderson <span>| Mis Skills</span></h5>
    <input type="hidden" th:value="${#strings.arrayJoin(antes, ',')}" id="antes">
    <input type="hidden" th:value="${#strings.arrayJoin(ahora, ',')}" id="ahora">
    <div id="budgetChart" style="min-height: 400px;" class="echart"></div>
    <script>
            document.addEventListener("DOMContentLoaded", () => {
              let inputTextantes = document.getElementById("antes").value;
              let arrayStringsantes = inputTextantes.split(',');
              let arrayEnterosantes = arrayStringsantes.map(str => parseInt(str));

              let inputTextahora = document.getElementById("ahora").value;
              let arrayStringsahora = inputTextahora.split(',');
              let arrayEnterosahora = arrayStringsahora.map(str => parseInt(str));


                var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                    legend: {
                        data: ['Dominio Actual', 'Dominio Anterior']
                    },
                    radar: {
                        // shape: 'circle',
                        indicator: [{
                            name: 'Historia del Perú',
                            max: 20
                        },
                            {
                                name: 'Comunicación',
                                max: 20
                            },
                            {
                                name: 'Biología',
                                max: 20
                            },
                            {
                                name: 'Historia Universal',
                                max: 20
                            },
                            {
                                name: 'Filosofía',
                                max: 20
                            },
                            {
                                name: 'Economía',
                                max: 20
                            }
                        ]
                    },
                    series: [{
                        name: 'Budget vs spending',
                        type: 'radar',
                        data: [{
                            value: arrayEnterosahora,
                            name: 'Dominio Actual'
                        },
                            {
                                value: arrayEnterosantes,
                                name: 'Dominio Anterior'
                            }
                        ]
                    }]
                });
            });
        </script>

  </div>


  <section class="section mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Biología</h5>
            <input type="hidden" th:value="${#strings.arrayJoin(biologia, ',')}" id="biologia">
            <input type="hidden" th:value="${#strings.arrayJoin(historia_universal, ',')}" id="historia_universal">
            <input type="hidden" th:value="${#strings.arrayJoin(filosofia, ',')}" id="filosofia">
            <input type="hidden" th:value="${#strings.arrayJoin(economia, ',')}" id="economia">
            <input type="hidden" th:value="${#strings.arrayJoin(comunicacion, ',')}" id="comunicacion">
            <input type="hidden" th:value="${#strings.arrayJoin(historia_peru, ',')}" id="historia_peru">
            <!-- Line Chart -->
            <canvas id="lineChart3" style="max-height: 400px;"></canvas>
            <script>
                            document.addEventListener("DOMContentLoaded", () => {
                              let inputText = document.getElementById("biologia").value;
                              let arrayStrings = inputText.split(',');
                              let arrayEnteros = arrayStrings.map(str => parseInt(str));

                                new Chart(document.querySelector('#lineChart3'), {
                                    type: 'line',
                                    data: {
                                        labels: ['', '', '', '', '', '', ''],
                                        datasets: [{
                                            label: 'Puntaje',
                                            data: arrayEnteros,
                                            fill: false,
                                            borderColor: 'rgb(75, 192, 192)',
                                            tension: 0.1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
            <!-- End Line CHart -->

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Historia Universal</h5>


            <!-- Line Chart -->
            <canvas id="lineChart4" style="max-height: 400px;"></canvas>
            <script>
                            document.addEventListener("DOMContentLoaded", () => {
                              let inputText = document.getElementById("historia_universal").value;
                              let arrayStrings = inputText.split(',');
                              let arrayEnteros = arrayStrings.map(str => parseInt(str));
                                new Chart(document.querySelector('#lineChart4'), {
                                    type: 'line',
                                    data: {
                                        labels: ['', '', '', '', '', '', ''],
                                        datasets: [{
                                            label: 'Puntaje',
                                            data: arrayEnteros,
                                            fill: false,
                                            borderColor: 'rgb(75, 192, 192)',
                                            tension: 0.1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
            <!-- End Line CHart -->

          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Filosofía</h5>

            <!-- Line Chart -->
            <canvas id="lineChart5" style="max-height: 400px;"></canvas>
            <script>
                            document.addEventListener("DOMContentLoaded", () => {
                              let inputText = document.getElementById("filosofia").value;
                              let arrayStrings = inputText.split(',');
                              let arrayEnteros = arrayStrings.map(str => parseInt(str));
                                new Chart(document.querySelector('#lineChart5'), {
                                    type: 'line',
                                    data: {
                                        labels: ['', '', '', '', '', '', ''],
                                        datasets: [{
                                            label: 'Puntaje',
                                            data: arrayEnteros,
                                            fill: false,
                                            borderColor: 'rgb(75, 192, 192)',
                                            tension: 0.1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
            <!-- End Line CHart -->

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Economía</h5>

            <!-- Line Chart -->
            <canvas id="lineChart6" style="max-height: 400px;"></canvas>
            <script>
                            document.addEventListener("DOMContentLoaded", () => {
                              let inputText = document.getElementById("economia").value;
                              let arrayStrings = inputText.split(',');
                              let arrayEnteros = arrayStrings.map(str => parseInt(str));
                                new Chart(document.querySelector('#lineChart6'), {
                                    type: 'line',
                                    data: {
                                        labels: ['', '', '', '', '', '', ''],
                                        datasets: [{
                                            label: 'Puntaje',
                                            data: arrayEnteros,
                                            fill: false,
                                            borderColor: 'rgb(75, 192, 192)',
                                            tension: 0.1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
            <!-- End Line CHart -->

          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Comunicación</h5>

            <!-- Line Chart -->
            <canvas id="lineChart" style="max-height: 400px;"></canvas>
            <script>
                            document.addEventListener("DOMContentLoaded", () => {
                              let inputText = document.getElementById("comunicacion").value;
                              let arrayStrings = inputText.split(',');
                              let arrayEnteros = arrayStrings.map(str => parseInt(str));
                                new Chart(document.querySelector('#lineChart'), {
                                    type: 'line',
                                    data: {
                                        labels: ['', '', '', '', '', '', ''],
                                        datasets: [{
                                            label: 'Puntaje',
                                            data: arrayEnteros,
                                            fill: false,
                                            borderColor: 'rgb(75, 192, 192)',
                                            tension: 0.1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
            <!-- End Line CHart -->

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Historia del Perú</h5>
            <!-- Line Chart -->
            <canvas id="lineChart2" style="max-height: 400px;"></canvas>
            <script >
                            document.addEventListener("DOMContentLoaded", () => {
                              let inputText = document.getElementById("historia_peru").value;
                              let arrayStrings = inputText.split(',');
                              let arrayEnteros = arrayStrings.map(str => parseInt(str));

                                new Chart(document.querySelector('#lineChart2'), {
                                    type: 'line',
                                    data: {
                                        labels: ['', '', '', '', '', '', ''],
                                        datasets: [{
                                            label: 'Puntaje',
                                            data: arrayEnteros,
                                            fill: false,
                                            borderColor: 'rgb(75, 192, 192)',
                                            tension: 0.1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
            <!-- End Line CHart -->

          </div>
        </div>
      </div>
    </div>
  </section>

</div><!-- End Budget Report -->



<div layout:fragment="script">

</div>

</html>